<footer id="colophon" role="contentinfo" class="site-footer">
  <div class="footer-top">
    <div class="container">

      <div class="row">
        <div class="col-md-3">
          <h3>Contact Us</h3>
          <address class="vcard">
            <h3 class="org vcard">CLIR</h3>
            <p class="adr">
            <span class="street-address">1707 L St. NW</span>
            <span class="street-address">Suite 650</span>
            <span class="locality">Washington</span>
            <span class="region" title="District of Columbia">DC</span>,
            <span class="postal-code">20036</span>
            </p>
            <p class="tel">
            202-939-4750
            </p>
          </address>
        </div>
        <div class="col-md-3">
          <h3>Our Programs</h3>
          <ul class="text-left list-arrow-right">
            <li>
              <a href="http://clir.org">CLIR</a>
            </li>
            <li>
              <a href="https://diglib.org">DLF</a>
            </li>
            <li>
              <a href="//www.clir.org/initiatives-partnerships/cios">CIOs of Liberal Arts Colleges</a>
            </li>
            <li>
              <a href="http://coherence.clir.org/">Committee on Coherence at Scale for Higher Education</a>
            </li>
            <li>
              <a href="//www.clir.org/initiatives-partnerships/data-curation">Data Curation</a>
            </li>
            <li>
              <a href="//www.clir.org/hiddencollections">Digitizing Hidden Collections</a>
            </li>
            <li>
              <a href="http://leadingchangeinstitute.org">Leading Change Institute</a>
            </li>
            <li>
              <a href="//www.clir.org/initiatives-partnerships/ndsr">National Digital Stewardship Residency</a>
            </li>
            <li>
              <a href="//www.clir.org/fellowships/postdoc">Postdoctoral Fellowship Program</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Upcoming Events</h3>
          <div class="events">

          </div>
        </div>
        <div class="col-md-3">
          <h3>Subscribe</h3>

        </div>
      </div>
    </div>
  </div>

  <div class="container footer-bottom">
    <div class="row">
      <div class="col-md-12">
        <p class="site-info">CLIR@60
        <a href="http://clir.org">CLIR</a>
        </p>
        <ul class="social-block">
          <li>
            <a href="https://twitter.com/clirnews">
              <i class="ion-social-twitter"></i>
            </a>
          </li>
          <li>
            <a href="//www.facebook.com/pages/Council-on-Library-and-Information-Resources-CLIR/300100435096">
              <i class="ion-social-facebook"></i>
            </a>
          </li>
          <!-- <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li> -->
          <li>
            <a href="//www.youtube.com/user/DLFCLIR?blend=2&ob=0">
              <i class="ion-social-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

