<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
  <div class="container">
    <div class="navbar-header">

      <!-- logo -->
      <div class="site-branding">
        <a class="logo" data-scroll href="#top" >

          <!-- logo image  -->
          <img width="38" src="images/clir.png" alt="Logo">
          CLIR@60
        </a>
      </div>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <!-- /.navbar-header -->

    <div class="collapse navbar-collapse" id="navbar-items">
      <ul class="nav navbar-nav navbar-right">

        <!-- navigation menu -->
        <li class="active">
          <a data-scroll href="#about">About Us</a>
        </li>
        <li>
          <a data-scroll href="#our-goals">Our Goals</a>
        </li>
        <li>
          <li>
            <a data-scroll href="#donate">Donate</a>
          </li>
          <li>
            <a data-scroll href="#join">Join</a>
          </li>
          <li>
            <a data-scroll href="#blog">Blog</a>
          </li>
          <li>
            <a data-scroll href="#stories">Stories</a>
          </li>
      </ul>
    </div>
  </div>
  <!-- container -->
</nav>
