<!-- scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.0/isotope.pkgd.min.js"></script>

<!-- bower libs -->
<script src="js/lib/get-style-property/get-style-property.js"></script>
<script src="js/lib/jquery/dist/jquery.js"></script>
<script src="js/lib/get-style-property/get-style-property.js"></script>
<script src="js/lib/get-size/get-size.js"></script>
<script src="js/lib/matches-selector/matches-selector.js"></script>
<script src="js/lib/eventie/eventie.js"></script>
<script src="js/lib/doc-ready/doc-ready.js"></script>
<script src="js/lib/eventEmitter/EventEmitter.js"></script>
<script src="js/lib/fizzy-ui-utils/utils.js"></script>
<script src="js/lib/outlayer/item.js"></script>
<script src="js/lib/outlayer/outlayer.js"></script>
<script src="js/lib/smooth-scroll/dist/js/smooth-scroll.js"></script>

<!-- main JS -->
<script src="js/main.js"></script>
